@charset "uft-8";

/* reset.css */
:root{
  --main-color : #507d9a;
  --sub-color1 : #40b0ff;
  --sub-color2 : #2a93fb;
  --sub-color3 : #0070c0;
  --sub-color4 : #005490;
  }  

html{
  font-size: 10px;
}
*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
body{
  font-family: sans-serif;
  font-size: 1.4rem; line-height: 1.35; color: #000;
}
table{
  border-collapse: collapse;
  width: 100%;
}
ol, ul{
  list-style: none;
}
a{
  color: #000; text-decoration: none;
}
address, em{
  font-style: normal;
}
caption, legend{
  display: none;
}
img{
  vertical-align: top; 
  border: 0;
}
select, input, fieldset, button{
  border: 0;
  outline: none;
  vertical-align: top;
}